song {
	color: black;
	background-color: white;
	width: 100%;
	white-space: pre;
}
genre {
	font-size: 20px;
}
year {
	font-size: 20px;
}
name {
	font-size: 30px;
}
artist {
	font-size: 20px;
}
heading {
	font-size: 50px;
	font-style: bold;
}

song, name, artist, heading {
	display: block;
}
